// Style for button and pseudo button for input and link

.btn {
	color: #fff;
	font-family: $main_font_family;
	font-size: 1.3em;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0.8em 1.8em;
	letter-spacing: 0.03em;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: #d21c39;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 1.75em;
	transition: all 0.5s;
	text-decoration: none;
	box-shadow: 0 0 1.25em rgba(210, 28, 57, 0.5);

	&:hover {
		// background-color: #fff;
		// color: #000;
		text-decoration: none;
		box-shadow: 0 0 0.45em rgba(210, 28, 57, 0.5);
	}

	&:active {
		box-shadow: 0 0 0 rgba(210, 28, 57, 0.5);
		// background-color: transparentize(#fff, .2);
		// color: #000;
	}

	&:disabled {
		opacity: 0.5;
		cursor: default;
	}
	@each $status_el, $color_bg in $el_colors {
		&_#{$status_el} {
			background-color: $color_bg;
			border-color: $color_bg;
			color: $btn_contrast_text_color;

			&:hover {
				background-color: darken($color_bg, 7%);
				color: $btn_contrast_text_color;
			}

			&:active,
			&:focus {
				background-color: darken($color_bg, 10%);
				color: $btn_contrast_text_color;
			}
		}
	}
}
