-var frontVersion = '1.4';

<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title ADBK - Брендинговое интернет-агентство полного цикла

    link(rel="stylesheet", href="css/style.css?"+frontVersion+"")

body
    .loader
        span.icon-logo
        h1 Брендинговое интернет-агентство полного цикла
    header.header
        .header__left
            a.header__logo(href="index.html")
                span.icon-logo
        .header__right
            .header__descr Брендинговое интернет-агентство полного цикла
            .header__contact
                .header__phone
                    a(href="tel:+7(960)195 00 10") +7(960)195 00 10
                .header__callback
                    a(href="#callback" data-toggle="modal" data-subject="Заказ обратного звонка") Бесплатная консультация
    nav.nav
        .nav__toggle
            span
        .nav__list#menu
            .nav__item.active(data-menuanchor="brand")
                a(href="#brand" data-index="1") Бренд
            .nav__item(data-menuanchor="who-we-are")
                a(href="#who-we-are" data-index="2") Кто мы
            .nav__item(data-menuanchor="about")
                a(href="#about" data-index="3") О бренде
            .nav__item(data-menuanchor="profit")
                a(href="#profit" data-index="4") Что получите
            .nav__item(data-menuanchor="our-work")
                a(href="#our-work" data-index="5") Наши работы
            .nav__item(data-menuanchor="price")
                a(href="#price" data-index="6") Цены
            .nav__item(data-menuanchor="consultant")
                a(href="#consultant" data-index="7") Консультация
        .nav__count 0
            span 1
    main.main
        // begin brand
        section#brand.brand.section
            .section__content
                .section__left
                    h2.section__title Мы строим успешные проекты. Увеличиваем прибыль компании до 70% <br>за первые 3 месяца.
                    .section__subtitle Сделаем все для того, чтобы вы были успешные. <br>Проводим системный анализ. Применяем нестандарные методы увеличения продаж. 

                    .brand__action
                        button.btn(data-toggle="modal" data-target="#presentation" data-subject="Получить презентацию") Получить презентацию
                .section__right

        // end brand

        // begin who-we-are
        section#who-we-are.whoWeAre.section
            .section__content
                .section__left
                    h2.section__title Кто мы
                    p ADBK  - брендинговое интернет-агентство полного цикла занимается консалтингом в области брендинга (от создания идеи бренда до его комплексного сопровождения на рынке товаров и услуг). Основной акцент в нашей деятельности мы делаем на разработке, продвижении и сопровождении web-ресурсов в сети интернет, также оказываем услуги по комплексной интеграции в социальных сетях, создаём аудио и –видеоролики. Свою главную цель мы видим в поиске решений и технологий для бизнеса любого масштаба - от индивидуальных предпринимателей до средних и крупных компаний. Мы работаем на стыке IT и брендинга. Одна из наших главных задач состоит в том, чтобы улучшить ключевые бизнес-показатели компаний. В состав компании входит проект ADBK (Брендинговое интернет-агентство полного цикла.
                .section__right

        // end who-we-are

        // begin about
        section#about.about.section
            .section__content
                .section__left
                    h2.section__title Из чего состоит <br>успешный проект?
                .section__right
                    .aboutSteps
                        .aboutSteps__item
                            .aboutSteps__content
                                .aboutSteps__img
                                    img(src="img/about1.png", alt="")
                                .aboutSteps__descr
                                    .aboutSteps__title Необычный и <br>запоминающийся дизайн
                                    |Построение любого успешного проекта начинается далеко не с дизайна, но дизайн является наиболее существенным аспектом оценки проекта конечным потребителем товара или услуги. В наше время, с каждым годом возрастающей конкуренции у компаний  появляется необходимость быть непохожими на своих конкурентов. 
                        .aboutSteps__item
                            .aboutSteps__content
                                .aboutSteps__img
                                    img(src="img/about2.png", alt="")
                                .aboutSteps__descr
                                    .aboutSteps__title Глубокая аналитика проекта
                                    |Проводим глубокую системную аналитику компании исходя из основных экономических показателей, а также правильно распределяем нагрузку на проекте. Подбираем наиболее эффективные каналы коммуникации вашего бренда с потребителем. 
                        .aboutSteps__item
                            .aboutSteps__content
                                .aboutSteps__img
                                    img(src="img/about3.png", alt="")
                                .aboutSteps__descr
                                    .aboutSteps__title Отличный отдел <br>продаж
                                    |Этот отдел играет ключевую роль в получении прибыли компании. Важно правильно и эффективно управлять этим отделом. Проводим рекрутинг персонала. Обучаем персонал. Задаем правильный ритм для получения максимальной финансовой отдачи. 

        // end about

        // begin profit
        section#profit.profit.section
            .section__content
                .section__left
                    .profit__name
                        h2.section__title Что вы получите
                        p На выходе вы получите полностью готовый проект, полностью интегрированный в соц. сети, также будет разработан сайт компании и полиграфические материалы, дополнительно могут быть внедрены сервисы аналитики и проведены мероприятия по формированию отдела продаж. 
                    .profitNav
                        .profitNav__item.active АУДИТ
                        .profitNav__item СТРАТЕГИЯ
                        .profitNav__item разработка бренда
                        .profitNav__item ВНЕДРЕНИЕ
                .section__right
                    .profitContent
                        .profitContent__item.active
                            ul
                                li Анализируем все текущие интернет-ресурсы вашей компании: 
                                li сайт, 
                                li соц. сети, 
                                li логотип, 
                                li работу отдела продаж и.тд
                        .profitContent__item
                            ul
                                li На основе полученной информации разрабатываем стратегию по увеличению продаж вашему бизнесу, 
                                li определяем план работ по оговоренным внедрениям, подписываем договор. 
                        .profitContent__item
                            ul
                                li Выполняем работы по разработке дизайн концепции, 
                                li предлагаем варианты названия для бизнеса ( для новых компаний). 
                        .profitContent__item
                            ul
                                li Корпоративный бренд
                                li Дизайн упаковки 
                                li Полиграфия
                                li Корпоративный видеоролик
                                li Обновленный сайт компании
                                li Обновленный дизайн соц. сетей
                                li Внедряем систему аналитики для отдела продаж

        // end profit

        // begin our-work
        section#our-work.ourWork.section
            .section__content
                .section__left
                    .ourWork__top
                        h2.section__title Наши работы
                        .section__subtitle 62 довольных клиента 
                        .ourWorkThumbs
                            .ourWorkThumbs__item
                                img(src="img/bonefrance_logo.png", alt="")
                            .ourWorkThumbs__item
                                img(src="img/logo2.png", alt="")
                            .ourWorkThumbs__item
                                img(src="img/logo3.png", alt="")
                            .ourWorkThumbs__item
                                img(src="img/logo4.png", alt="")
                            .ourWorkThumbs__item
                                img(src="img/logo5.png", alt="")
                    .ourWork__bottom
                        .ourWorkDescr
                            .ourWorkDescr__item
                                .ourWorkDescr__logo
                                    img(src="img/bonefrance_logo.png", alt="")
                                .ourWorkDescr__site
                                    a(href="http://bonfrance.ru") http://bonfrance.ru
                                .ourWorkDescr__text Проект BONFRANCE – это проект, посвященный французскому языку, французской культуре, французской еде. В рамках данного проекта раскрываются особенности исконно французских традиций в понятной форме. Проект направлен на русскоговорящую аудиторию, которая путешествует, учит французский язык, а также просто интересуется страноведческими особенностями Франции.
                                .ourWorkDescr__deals
                                    .ourWorkDescr__price 
                                        .ourWorkDescr__label Стоимость: 
                                        |125 000 руб
                                    .ourWorkDescr__date
                                        .ourWorkDescr__label Срок: 
                                        |54 дня

                            .ourWorkDescr__item
                                .ourWorkDescr__logo
                                    img(src="img/gidravlik_logo.png", alt="")
                                .ourWorkDescr__site
                                    a(href="http://ybb.gidravlikgroup.ru/") http://ybb.gidravlikgroup.ru//
                                .ourWorkDescr__text Проект Гидравлик Групп – это проект многопрофильной компании по ремонту РВД в Москве и Московской области посредством мобильных и стационарных мастерских, расположенных на севере и юге столицы. Основной задачей данного проекта было разработать  идентичность бренда в сети интернет: сделать корпоративный сайт, разработать печатную продукцию для наилучшего позиционирования компании на рынке товаров и услуг. С данной задачей агентство полностью справилось. 
                                .ourWorkDescr__deals
                                    .ourWorkDescr__price 
                                        .ourWorkDescr__label Стоимость: 
                                        |270 000 руб
                                    .ourWorkDescr__date
                                        .ourWorkDescr__label Срок: 
                                        |130 денй
                            .ourWorkDescr__item
                                .ourWorkDescr__logo
                                    img(src="img/pechnov_logo.png", alt="")
                                .ourWorkDescr__site
                                    a(href="http://pechnof.com/") http://pechnof.com/
                                .ourWorkDescr__text Проект небольшого семейного бизнеса по кладке печей и каминов. Основной задачей было позиционирование на рынке услуг. Были разработаны: сайт, печатная продукция, маркетинговая концепция, айдентика  бренда. 
                                .ourWorkDescr__deals
                                    .ourWorkDescr__price 
                                        .ourWorkDescr__label Стоимость: 
                                        |37 000 руб
                                    .ourWorkDescr__date
                                        .ourWorkDescr__label Срок: 
                                        |19 денй
                            .ourWorkDescr__item
                                .ourWorkDescr__logo
                                    img(src="img/technov_logo.png", alt="")
                                .ourWorkDescr__site
                                    a(href="#") 
                                .ourWorkDescr__text Портал Технов – собственная торговая марка, полностью готовая площадка для размещения небольших компаний по сервисному обслуживанию техники , ремонту телефонов и других гаджетов. В своем составе имеет интернет-магазин. Разработана полная маркетинговая концепция. Также печатная продукция для наружной рекламы.
                                .ourWorkDescr__deals
                                    .ourWorkDescr__price 
                                        .ourWorkDescr__label Стоимость: 
                                        |70 000 руб
                                    .ourWorkDescr__date
                                        .ourWorkDescr__label Срок: 
                                        |35 денй
                            .ourWorkDescr__item
                                .ourWorkDescr__logo
                                    img(src="img/eurosporttour_logo.png", alt="")
                                .ourWorkDescr__site
                                    a(href="http://yestr.ru/") http://yestr.ru/
                                .ourWorkDescr__text ЕВРОСПОРТТУР – международное агентство культуры и спорта организуют спортивные мероприятия в Черногории. А также ряд музыкальных конкурсов в Восточной Европе. Для проекта разработана айдентика, сайт, логотип, дизайн, маркетинговая концепция , а также печатная продукция.
                                .ourWorkDescr__deals
                                    .ourWorkDescr__price 
                                        .ourWorkDescr__label Стоимость: 
                                        |25 000 руб
                                    .ourWorkDescr__date
                                        .ourWorkDescr__label Срок: 
                                        |10 денй
                .section__right
                    .ourWorkView
                        .ourWorkView__item
                            .ourWorkView__img(style="background-image: url(img/work_bg_1.webp)")
                        .ourWorkView__item
                            .ourWorkView__img(style="background-image: url(img/work_bg_2.webp)")
                        .ourWorkView__item
                            .ourWorkView__img(style="background-image: url(img/work_bg_3.webp)")
                        .ourWorkView__item
                            .ourWorkView__img(style="background-image: url(img/work_bg_4.webp)")
                        .ourWorkView__item
                            .ourWorkView__img(style="background-image: url(img/work_bg_5.webp)")

        // end our-work

        // begin price
        section#price.price.section
            .section__content
                .section__left
                    .priceCol
                        .priceCol__item
                            .priceCol__content
                                .price__title Корпоративный сайт
                                .price__summ от 59 900 р.
                                .price__text
                                    p Уникальное доменное имя 
                                    p Запоминающийся логотип
                                    p Качественная верстка
                                    p Удобная система управления контентом
                                    p Наполнение страницы контентом
                                    p Простая форма заказа услуги/товара
                                .price__text
                                    p
                                        b Дополнительно : 
                                    p Дизайн фирменного бланка
                                    p Дизайн соц. сетей
                                    p Дизайн листовок или визиток (на выбор) 
                                a.price__action(href="#clarifyCost" data-toggle="modal" data-subject="Уточнить стоимость - Корпоративный сайт") Уточнить стоимость
                        .priceCol__item
                            .priceCol__content
                                .price__title Интернет-магазин
                                .price__summ от 99 000 р.
                                .price__text
                                    p Уникальное доменное имя 
                                    p Запоминающийся логотип
                                    p Качественная верстка
                                    p Удобная система управления контентом
                                    p Наполнение страницы контентом ( до 300 SKU )
                                    p Простая форма заказа услуги/товара
                                .price__text
                                    p
                                        b Дополнительно : 
                                    p Дизайн фирменного бланка
                                    p Дизайн соц. сетей
                                    p Дизайн листовок или визиток (на выбор) 
                                a.price__action(href="#clarifyCost" data-toggle="modal" data-subject="Уточнить стоимость - Интернет-магазин") Уточнить стоимость
                        .priceCol__item
                            .priceCol__content
                                .price__title Одностраничный сайт
                                .price__summ от 39 900 р.
                                .price__text
                                    p Уникальное доменное имя 
                                    p Запоминающийся логотип
                                    p Качественная верстка
                                    p Наполнение страницы контентом
                                    p Простая форма заказа услуги/товара
                                .price__text
                                    p
                                        b Дополнительно : 
                                    p Дизайн фирменного бланка
                                    p Дизайн соц. сетей
                                    p Дизайн листовок или визиток (на выбор) 
                                a.price__action(href="#clarifyCost" data-toggle="modal" data-subject="Уточнить стоимость - Одностраничный сайт") Уточнить стоимость
                .section__right
                    .priceCol
                        .priceCol__item
                            .priceCol__content
                                .price__title Портал / Сервис
                                .price__summ от 145 000 р.
                                .price__text
                                    p Уникальное доменное имя 
                                    p Запоминающийся логотип
                                    p Качественная верстка
                                    p Удобная система управления контентом
                                    p Наполнение страницы контентом
                                    p Простая форма заказа услуги/товара
                                .price__text
                                    p
                                        b Дополнительно : 
                                    p Дизайн фирменного бланка
                                    p Дизайн соц. сетей
                                    p Дизайн листовок или визиток (на выбор) 
                                a.price__action(href="#clarifyCost" data-toggle="modal" data-subject="Уточнить стоимость - Портал / Сервис") Уточнить стоимость
                        .priceCol__item
                            .priceCol__content
                                .price__title Построение отдела продаж ( экспресс метод) 
                                .price__summ от 35 000 р.
                                .price__text
                                    p Подбор персонала (до 5 чел) 
                                    p Обучение персонала (преимущественно продажи)
                                    p Контроль за эффективностью работы персонала
                                    p Настройка системы аналитики отдела продаж
                                a.price__action(href="#clarifyCost" data-toggle="modal" data-subject="Уточнить стоимость - Построение отдела продаж") Уточнить стоимость
                        .priceCol__item
                            .priceCol__content
                                .price__title Индивидуальные консультации по брендингу 
                                .price__summ 1500 р /час 
                                a.price__action(href="#clarifyCost" data-toggle="modal" data-subject="Уточнить стоимость - Индивидуальные консультации по брендингу") Уточнить стоимость

        // end price

        // begin consultant
        section#consultant.consultant.brand.brand_last.section
            .section__content
                .section__left
                    h2.section__title ПОЛУЧИТЕ РАСЧЕТ СТОИМОСТИ РАЗРАБОТКИ ВАШЕГО БРЕНДА
                    p На самом деле нет абсолютно одинаковых моделей построения успешных проектов. Каждый проект уникален, но мы абсолютно уверены в том, что успешный проект состоит : из запоминающегося дизайна, виртуозного программирования, глубоко продуманной аналитики и эффективно работающего отдела продаж. Мы выполняем полный цикл этих задач и гарантируем результат нашей работы на второй месяц. 
                    .brand__action
                        button.btn(data-toggle="modal" data-target="#antialiasedForm" data-subject="Получить анализ компании") Получить анализ компании
                .section__right(style="background-image: url(img/agriculture-clouds-colors-1558732.webp)")

        // end consultant


    // Begin Modal presentation
    .modal.fade.presentation#presentation
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal-header
                    .modal-title СКАЧАЙТЕ ПРЕЗЕНТАЦИЮ <br>С ОПИСАНИЕМ УСЛУГ И <br>ПРИМЕРАМИ РАБОТ
                .modal-body
                    .presentation__sub Заполнив форму вы получите:
                    .presentationList
                        .presentationList__item Подробную презентацию о компании
                        .presentationList__item Описание этапов и условий работы
                        .presentationList__item Примеры выполненных проектов
                    form.form.formPresent(action="send.php")
                        input(type="hidden" name="subject")
                        .form__row
                            input(type="text" name="name" placeholder="Введите имя" required)
                        .form__row
                            input(type="tel" name="tel" placeholder="Введите номер телефона" required)
                        .form__row
                            button.btn(type="submit") Скачать презентацию
                        .form__privacy
                            label
                                input(type="checkbox" checked) 
                                |Вы соглашаетесь с 
                                a(href="#privacy" data-toggle="modal") условиями обработки персональных данных
    // End modal presentation

    // Begin Modal antialiasedForm
    .modal.fade.presentation#antialiasedForm
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal-header
                    .modal-title Получить анализ компании
                .modal-body
                    .presentation__sub
                    form.form(action="send.php")
                        input(type="hidden" name="subject")
                        .form__row
                            input(type="url" name="site" placeholder="Введите ссылку на ваш сайт" required)
                        .form__row
                            input(type="text" name="name" placeholder="Введите имя" required)
                        .form__row
                            input(type="tel" name="tel" placeholder="Введите номер телефона" required)
                        .form__row
                            button.btn(type="submit") Получить анализ компании
                        .form__privacy
                            label
                                input(type="checkbox" checked) 
                                |Вы соглашаетесь с 
                                a(href="#privacy" data-toggle="modal") условиями обработки персональных данных
    // End modal antialiasedForm

    // Begin Modal callback
    .modal.fade.presentation#callback
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal-header
                    .modal-title Заказать звонок
                .modal-body
                    .presentation__sub Заполните форму и наш специалист перезвонит вам!
                    form.form(action="send.php")
                        input(type="hidden" name="subject")
                        .form__row
                            input(type="text" name="name" placeholder="Введите имя" required)
                        .form__row
                            input(type="tel" name="tel" placeholder="Введите номер телефона" required)
                        .form__row
                            button.btn(type="submit") Позвоните мне
                        .form__privacy
                            label
                                input(type="checkbox" checked) 
                                |Вы соглашаетесь с 
                                a(href="#privacy" data-toggle="modal") условиями обработки персональных данных
    // End modal callback

    // Begin Modal clarifyCost
    .modal.fade.presentation#clarifyCost
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal-header
                    .modal-title Уточнить стоимость
                .modal-body
                    .presentation__sub Заполните форму и наш специалист перезвонит вам!
                    form.form(action="send.php")
                        input(type="hidden" name="subject")
                        .form__row
                            input(type="text" name="name" placeholder="Введите имя" required)
                        .form__row
                            input(type="tel" name="tel" placeholder="Введите номер телефона" required)
                        .form__row
                            button.btn(type="submit") Уточнить стоимость
                        .form__privacy
                            label
                                input(type="checkbox" checked) 
                                |Вы соглашаетесь с 
                                a(href="#privacy" data-toggle="modal") условиями обработки персональных данных
    // End modal clarifyCost

    //- Button trigger modal privacy
    //- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#privacy") Click to open modal
    //- Begin Modal privacy
    .modal.fade.privacy#privacy
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal-header
                    .modal-title Политика конфиденциальности
                .modal-body 
                    p Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую сайт «Брендинговое интернет-агентство ADBK», расположенный на доменном имени adbk.ru, может получить о Пользователе во время использования сайта , программ и продуктов.
                    h3 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                    p 1.1. В настоящей Политике конфиденциальности используются следующие термины:
                    p 1.1.1. «Администрация сайта (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени Название организации, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
                    p 1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
                    p 1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
                    p 1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
                    p 1.1.5. «Пользователь сайта (далее Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
                    p 1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
                    p 1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
                    h3 2. ОБЩИЕ ПОЛОЖЕНИЯ
                    p 2.1. Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
                    p 2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.
                    p 2.3. Настоящая Политика конфиденциальности применяется только к сайту «Брендинговое интернет-агентство ADBK». Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте.
                    p 2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.
                    h3 3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
                    p 3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте или при оформлении заказа для приобретения Товара.
                    p 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Сайте «Брендинговое интернет-агентство ADBK»в разделе оставления заявок и включают в себя следующую информацию:
                    p 3.2.1. фамилию, имя, отчество Пользователя;
                    p 3.2.2. контактный телефон Пользователя;
                    p 3.2.3. адрес электронной почты (e-mail);
                    p 3.3. защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"): • IP адрес; • информация из cookies; • информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы); • время доступа; • адрес страницы, на которой расположен рекламный блок; • реферер (адрес предыдущей страницы).
                    p 3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта , требующим авторизации.
                    p 3.3.2. осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.
                    p 3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
                    h3 4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
                    p 4.1. Персональные данные Пользователя Администрация сайта может использовать в целях:
                    p 4.1.1. Идентификации Пользователя, зарегистрированного на сайте.
                    p 4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта.
                    p 4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработка запросов и заявок от Пользователя.
                    p 4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
                    p 4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
                    p 4.1.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.
                    p 4.1.7. Уведомления Пользователя Сайта о состоянии Заказа.
                    p 4.1.8. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа, определения права на получение кредитной линии Пользователем.
                    p 4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта .
                    p 4.1.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени сайта или от имени партнеров .
                    p 4.1.11. Осуществления рекламной деятельности с согласия Пользователя.
                    p 4.1.12. Предоставления доступа Пользователю на сайты или сервисы партнеров с целью получения продуктов, обновлений и услуг.
                    h3 5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
                    p 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
                    p 5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Сайте «Время Первых», включая доставку Товара.
                    p 5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
                    p 5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
                    p 5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
                    h3 6. ОБЯЗАТЕЛЬСТВА СТОРОН
                    p 6.1. Пользователь обязан:
                    p 6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом.
                    p 6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
                    p 6.2. Администрация сайта обязана:
                    p 6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.
                    p 6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
                    p 6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
                    p .2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
                    h3 7. ОТВЕТСТВЕННОСТЬ СТОРОН
                    p 7.1. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
                    p 7.1.1. Стала публичным достоянием до её утраты или разглашения.
                    p 7.1.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
                    p 7.1.3. Была разглашена с согласия Пользователя.
                    h3 8. РАЗРЕШЕНИЕ СПОРОВ
                    p 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
                    p 8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
                    p 8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.
                    p 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.
                    h3 9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
                    p 9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
                    p 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте , если иное не предусмотрено новой редакцией Политики конфиденциальности.
                    p 9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать указать раздел сайта
                    p 9.4. Действующая Политика конфиденциальности размещена на странице по адресу adbk.ru адрес магазина.
                    p Для связи с администратором сайта по любым вопросам вы можете написать письмо на e-mail: info@adbk.ru
                .modal-footer
                    button.btn(data-dismiss="modal") Закрыть
    // End modal privacy

    //- Button trigger modal success
    //- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#success") Click to open modal
    // Begin Modal success
    .modal.fade.success#success
        .modal-dialog
            .modal-content
                a(href="#" class="modal-close" data-dismiss="modal")
                .modal-header
                    .modal-title Спасибо, форма успешно заполнена!
                .modal-body 
                    .modal-message
    // End modal success

    <script type="text/javascript" src="//cdn.callbackhunter.com/cbh.js?hunter_code=fa5f6275456054c5764b4802b5968ece" charset="UTF-8"></script>


    script(src="js/jquery.js")
    script(src="js/jquery-onepage-scroll.js")
    script(src="js/jquery.maskedinput.js")
    script(src="js/slick.min.js")
    script(src="js/modal.js")
    script(src="js/function.js?"+frontVersion+"")
